@import url('https://fonts.googleapis.com/css?family=Lato:300|Roboto:700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

html {
scroll-behavior: smooth;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: lightgrey;
    border-right: 2px solid grey;
    width: 250px;
    height: 100%;
}

#navbar-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    position: relative;
    border-bottom: 1px solid black;
}

#nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    display: block;
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-link {
    padding: 0.5em;
    font-size: 1.25em;
    position: relative;
    display: block;
    border-bottom: 1px solid black;
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    background: #9b9b9b;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

/* main page */

.main-section {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 35px 15px 300px;
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
}

.section-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 25px 0;
    font-size: 29px;
}

ul {
    list-style: none;
}

p {
    padding: 10px 0;
}

.section-list {
    padding: 10px 0 10px 75px;
}

.section-list-li {
    padding: 10px 0;
}

code {
    padding: 5px;
    background: #d7d7d7;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #bebebe;
    text-align: center;
    padding: 5px 10px 5px 280px;
}

#copyright {
    color: #FFFFFF;
    font-size: 18px;
}

.fab {
    color: #FFFFFF;
    font-size: 20px;
}

.footer-social .fab:hover {
    color: #212121;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.list-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.list-inline-item {
    padding: 0 10px;
}

/* media query */

@media (max-width: 760px) {
    nav {
        justify-content: stretch;
        border-bottom: 2px solid grey;
        height: 300px;
        width: 100%;
    }

    #Reference {
        border: none;
    }

    #Introduction {
        padding: 305px 35px 15px 35px;
    }

    .main-section {
        padding: 15px 35px;
    }


    footer {
        padding: 5px 15px;
        justify-content: space-between;
    }

}
